:root {
    --bg-color : rgb(152, 252, 152);
    --bg-color2: rgb(137, 197, 253);
    --bg-color2hover: rgb(116, 177, 233);
    --bg-color3 : rgb(243, 137, 253);
    --bg-color3hover : rgb(222, 116, 231);
    --main-color : rgb(212, 212, 212);
    --second-color : rgb(36, 36, 36);
    --third-color : rgb(20, 20, 20);
    --head-foot-color : rgb(14, 14, 14);
    --content-color : rgb(31, 67, 92);
    --large-text-size : 60px;
    --section-text-size : 45px;
    --title-size : 35px;
    --small-text-size : 10px;
}

/*CSS for the main body of the website below*/ 
body {
    font-family: fantasy, serif;
    margin: 0;
    padding: 0;
    background-color: var(--main-color);
    background-image: linear-gradient(to bottom right, var(--bg-color), var(--bg-color2), var(--bg-color3));
    line-height: 1.6;
}


h1 {
    font-style: oblique; 
    font-size: var(--large-text-size);
}


header, footer {
    background-color: var(--head-foot-color);
    color: white;
    text-align: center;
    padding: 2px;
}

nav ul {
    list-style: none;
    padding: 0;
    font-size: 20px;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: rgb(245, 245, 245);
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: rgb(206, 204, 204);
    text-decoration: underline;
    text-decoration-style: dashed;
    
}

#mainPhoto {
    display: block;
    padding-top: 20px;
    height: 175px;
    width: 300px;
    margin: auto;
    transition-property: height, width;
    transition-duration: 1.5s;
}

#mainPhoto:hover {
   height: 275px;
   width: 400px;
   
}

#gitLink {
    display: block;
    margin: auto;
    border: none;
    padding: 10px 18px;
    background-color: var(--second-color);
    color: var(--main-color);
}

#gitLink:hover {
    background-color: var(--third-color);
    cursor: pointer;
}


section {
    color: var(--main-color);
    padding: 20px;
    margin: 20px;
    background-color: var(--second-color);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: 1s;
}

section:hover {
    background-color: var(--third-color);
}

/*CSS for the about me section of the website*/ 
#aboutMeH2 {
    color: var(--bg-color);
    font-style: oblique;
    font-size: var(--section-text-size);
    padding: 10px;
}

#aboutP {
    padding: 15px;
}

/*CSS for the projects section of the website*/ 
#projectsH2 {
    color: var(--bg-color2);
    font-style: oblique;
    font-size: var(--section-text-size);
    padding: 10px;
}

#allProjects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
}
.projectImg {
    display: block;
    margin: auto;
    padding: 30px;
    height: 350px;
    width: 600px;
    transition: 1s;
}


.projectTitle {
    text-align: center;
    color: var(--bg-color2);
    font-size: var(--title-size);
}

.showDescButton {
    display: block;
    margin: auto;
    border: none;
    padding: 10px 18px;
    background-color: var(--bg-color2);
    color: var(--second-color);
}

.showDescButton:hover {
    background-color: var(--bg-color2hover);
    color: var(--second-color);
    cursor: pointer;
}

.projectDesc {
    text-align: center;
    padding: 10px;
    margin: auto;
    width: 40%;
}

/*CSS for the contact section of the website*/ 
#contactH2 {
    color: var(--bg-color3);
    font-style: oblique;
    font-size: var(--section-text-size);
    padding: 10px;
}

#formDiv {
    border: solid 2px var(--bg-color3);
    border-radius: 10px;
    background-color: var(--third-color);
    padding: 20px;
    margin: auto;
    width: 40%;
}

#formTitle {
    text-align: center;
    color: var(--bg-color3);
    font-size: var(--title-size);
}

label {
    font-weight: bold;
    padding: 6px;
}

input {
    border: none;
    border-radius: 5px;
    padding: 7px;
}

#messageInput {
    display: block;
    width: 400px;
    height: 200px;
}

#submitFormButton {
    display: block;
    margin: auto;
    border: none;
    padding: 10px 18px;
    background-color: var(--bg-color3);
    color: var(--second-color);
}

#submitFormButton:hover {
    background-color: var(--bg-color3hover);
}

.error {
    color: red;
    font-weight: bold;
}

.success {
    color: chartreuse;
    font-weight: bold;
}


/*Footer CSS*/ 
footer {
    color: white;
    text-align: center;
    padding: 5px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

h5 {
    font-size: var(--small-text-size);
}



/* Media Queries for Mobile Devices */
@media only screen and (max-width: 600px) {
    header, footer {
        padding: 10px;
    }

    nav ul li {
        display: block;
        text-align: center;
        margin: 5px 0;
    }

    section {
        padding: 10px;
        margin: 10px;
    }

    #allProjects {
        display: block;
    }

    .projectImg {
        width: 300px;
        height: 175px;
    }

    #messageInput {
        display: block;
        margin: auto;
        padding: 5px;
        width: 200px;
        height: 100px;
    }
}
