:root {
    --bg-color : rgb(152, 252, 152);
    --bg-color2: rgb(137, 197, 253);
    --bg-color2hover: rgb(116, 177, 233);
    --bg-color3 : rgb(243, 137, 253);
    --bg-color3hover : rgb(222, 116, 231);
    --bg-colorwarm : rgb(250, 118, 118);
    --bg-colorwarm2 : rgb(250, 182, 118);
    --bg-colorwarm2hover : rgb(235, 167, 103);
    --bg-colorwarm3 : rgb(250, 237, 118);
    --bg-colorwarm3hover : rgb(236, 223, 99);
    --main-color : rgb(212, 212, 212);
    --second-color : rgb(36, 36, 36);
    --third-color : rgb(20, 20, 20);
    --head-foot-color : rgb(14, 14, 14);
    --large-text-size : 45px;
    --section-text-size : 40px;
    --title-size : 35px;
    --small-text-size : 10px;
}

html {
    scroll-behavior: smooth;
}

/*CSS for the main body*/ 
body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--main-color);
    background-image: linear-gradient(to bottom right, var(--bg-color), var(--bg-color2), var(--bg-color3));
    line-height: 1.6;
}


h1 {
    font-family: fantasy, serif;
    font-style: oblique; 
    font-size: var(--large-text-size);
}


header, footer {
    background-color: var(--head-foot-color);
    color: white;
    text-align: center;
    padding: 2px;
}

nav ul {
    list-style: none;
    padding: 0;
    font-size: 20px;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: rgb(245, 245, 245);
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: rgb(206, 204, 204);
    text-decoration: underline;
    text-decoration-style: dashed;
}

#whoAreYou {
    display: block;
    margin: auto;
}

#displayWelcomeMsg {
    text-align: center;
    color: var(--third-color);
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline bold;
}

#mainPhoto {
    display: block;
    padding-top: 20px;
    height: 175px;
    width: 300px;
    margin: auto;
    transition-property: height, width;
    transition-duration: 1.5s;
}

#mainPhoto:hover {
   height: 275px;
   width: 400px;
   
}

.outerBtn {
    display: block;
    margin: auto;
    border: none;
    padding: 10px 18px;
    background-color: var(--second-color);
    color: var(--main-color);
}

.outerBtn:hover {
    background-color: var(--third-color);
    cursor: pointer;
}


section {
    color: var(--main-color);
    padding: 20px;
    margin: 20px;
    background-color: var(--second-color);
    border-radius: 10px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    transition: 1s;
}

section:hover {
    background-color: var(--third-color);
}

/*CSS for the about me section of the website*/ 
#aboutMeH2 {
    font-family: fantasy, serif;
    color: var(--bg-color);
    font-style: oblique;
    text-decoration: solid underline;
    font-size: var(--section-text-size);
    padding: 10px;
}

#aboutP {
    padding: 15px;
}

/*CSS for the projects section of the website*/ 
#projectsH2 {
    font-family: fantasy, serif;
    color: var(--bg-color2);
    font-style: oblique;
    text-decoration: solid underline;
    font-size: var(--section-text-size);
    padding: 10px;
}

#allProjects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
}
.projectImg {
    display: block;
    margin: auto;
    padding: 30px;
    height: 350px;
    width: 600px;
    
}

.projectTitle {
    text-align: center;
    color: var(--bg-color2);
    font-size: var(--title-size);
}

#projectTitle2 {
    text-align: center;
    color: var(--bg-color2);
    font-size: var(--title-size);
}

.showDescButton {
    display: block;
    margin: auto;
    border: none;
    padding: 10px 18px;
    background-color: var(--bg-color2);
    color: var(--second-color);
}

.showDescButton:hover {
    background-color: var(--bg-color2hover);
    color: var(--second-color);
    cursor: pointer;
}

.projectDesc {
    text-align: center;
    padding: 10px;
    margin: auto;
    width: 40%;
}

/*CSS for the contact section of the website*/ 
#contactH2 {
    font-family: fantasy, serif;
    color: var(--bg-color3);
    font-style: oblique;
    text-decoration: solid underline;
    font-size: var(--section-text-size);
    padding: 10px;
}

#formDiv {
    border: solid 2px var(--bg-color3);
    border-radius: 10px;
    background-color: var(--third-color);
    padding: 20px;
    margin: auto;
    width: 40%;
}

#formTitle {
    text-align: center;
    color: var(--bg-color3);
    font-size: var(--title-size);
}

label {
    font-weight: bold;
    padding: 6px;
}

input {
    border: none;
    border-radius: 5px;
    padding: 7px;
}

#messageInput {
    display: flex;
    width: 70%;
    height: 250px;
}

#submitFormButton {
    display: block;
    margin: auto;
    border: none;
    padding: 10px 18px;
    background-color: var(--bg-color3);
    color: var(--second-color);
}

#submitFormButton:hover {
    background-color: var(--bg-color3hover);
}

.error {
    color: red;
    display: block;
    font-weight: bold;
}

.success {
    color: chartreuse;
    display: block;
    font-weight: bold;
}

#location {
    text-align: center;
    font-weight: bold;
    text-decoration: double underline overline 6px;
    font-size: var(--section-text-size);
}

/* css for 'warm mode' */
.warm-mode {
    background-color: var(--main-color);
    background-image: linear-gradient(to bottom right, var(--bg-colorwarm), var(--bg-colorwarm2), var(--bg-colorwarm3)); 
}

body.warm-mode #aboutMeH2 {
    color: var(--bg-colorwarm);
}

body.warm-mode #projectsH2, body.warm-mode .projectTitle {
    color: var(--bg-colorwarm2);
}

body.warm-mode .showDescButton {
    background-color: var(--bg-colorwarm2);
}

body.warm-mode .showDescButton:hover {
    background-color: var(--bg-colorwarm2hover);
}

body.warm-mode #contactH2, body.warm-mode #formTitle {
    color: var(--bg-colorwarm3);
}

body.warm-mode #formDiv {
    border: solid 2px var(--bg-colorwarm3);
}

body.warm-mode #submitFormButton {
    background-color: var(--bg-colorwarm3);
}

body.warm-mode #submitFormButton:hover {
    background-color: var(--bg-colorwarm3hover);
}


/*Footer CSS*/ 
footer {
    color: white;
    text-align: center;
    padding: 5px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

h5 {
    font-size: var(--small-text-size);
}



/* Media Queries for Mobile Devices */
@media only screen and (max-width: 600px) {
    header, footer {
        padding: 10px;
    }

    nav ul li {
        display: block;
        text-align: center;
        margin: 5px 0;
    }

    section {
        padding: 10px;
        margin: 10px;
    }

    #allProjects {
        display: block;
    }

    .projectImg {
        width: 300px;
        height: 175px;
    }

    
}

